{% load static %}
!!! 5
html
  head
    title(id='html-title') {{ html_title|default:'Pug htmx' }}
    // Favicon from pixabay.com with free license
    link(rel='icon', type='image/png', href='{% static "favicon.png" %}') 
    // Lib from unpkg.com/browse/htmx.org@1.1.0/dist/
    script(src='{% static "htmx.min.js.gz" %}')
  body
    a(href='/') Go to main
    p List
    fieldset
      legend Search
      label Title
        input(
          type='text'
          name='title'
          hx-get='/book/list/'
          hx-trigger='keyup changed delay:500ms'
          hx-target='#book_list'
        )
    include book_list
    form(hx-post='/book/add/')
      {% csrf_token %}
      fieldset
        legend Add book
        label Title
          input(type='text' name='title')
        input(type='submit', value='Add')

    #b-div
      include book
